* {
    margin: 0;
    font-size: 14px;
}

P  {
    font-size : 14pt;
    font-family : verdana,arial;
    font-weight : normal;
   }

   BODY  {
    font-size : 14pt;
    font-family : verdana;
    color : rgb(10, 10, 10);
   }

.card {
    width: 22rem;
    border: 1.3px solid lightgray;
}

.card a {
    /* padding-top: 0;
    padding-bottom: 0; */
    font-size: .7rem;
    font-weight: bold;
    
}

.carousel-text-container {
    position : absolute; 
    display: flex; 
    position: absolute; 
    display: flex; 
    justify-content:right; 
    align-items: center; 
    z-index: 99;
    width:100%; 
    height:100%;
}     
    .carousel-text { 
    margin-right: 4rem
    text-align: right; 
    max-widh: 60 ch;
    color: white;
 }

    